:root {
  --bold_color: #0b132a;
  --light_color: #4f5665;
  --bg_red: #f53855;
}
.about {
  max-width: 1140px;
  margin: auto;
  padding-bottom: 100px;
}
.subscribe {
  padding: 60px 70px;
  color: var(--bold_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: #f8f8f8 0px 20px 23px 37px;
  margin-bottom: 60px;
}
.subscribe-info {
  max-width: 400px;
}
.subscribe-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.subscribe-info p {
  color: var(--light_color);
}
.subscribe-btn > button {
  background-color: var(--bg_red);
  border: none;
  padding: 17px 65px;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: #f53838 0px 20px 25px -15px;
}

.social > p {
  max-width: 340px;
  line-height: 1.4rem;
  color: var(--light_color);
  margin: 20px 0px;
}
.copyright {
  color: #afb5c0;
}
.about-links ul {
  padding-top: 20px;
  list-style-type: none;
}
.about-links li {
  text-align: center;
  padding: 10px 0px;
  color: var(--light_color);
}
@media (max-width: 768px) {
  .social > .header-logo {
    justify-content: center;
  }
  .social {
    text-align: center;
  }
  .social p {
    margin: auto;
  }
}
@media (min-width: 769px) {
  .about-info {
    display: flex;
  }
  .social {
    flex-basis: 50%;
  }
  .about-links {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
  }
  .about-links ul {
    padding-top: 0px;
  }
}
