* {
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.header {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  background-color: antiquewhite;
}

.header ul {
  display: flex;
  list-style-type: none;
}
.header li {
  padding: 10px;
}
.todos {
  padding: 10px;
}
.about {
  display: flex;
  justify-content: center;
}
.about h1 {
  padding-right: 20px;
}
